<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicroClimat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <MicroClimat.Properties.Settings>
        <setting name="show_tempdry" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="show_pres" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="show_wind" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="show_hum" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="show_sat" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="show_duty" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LastProject" serializeAs="String">
          <value />
        </setting>
        <setting name="show_tempwet" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="show_texts" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LogPath" serializeAs="String">
          <value />
        </setting>
        <setting name="LogNum" serializeAs="String">
          <value>1</value>
        </setting>
      </MicroClimat.Properties.Settings>
    </userSettings>
</configuration>